* {
  box-sizing: border-box;
}

.container1 {
  width: 366px;
  height: 420px;
  background: rgba(250, 244, 239, 1);
  border-radius: 0px 0px 0px 50px;
  margin: 50 auto;
  margin-top: 285px;
  margin-bottom: 319px;
  padding-top: 40px;
  padding-left: 46px;
}

.header1 {
  font-size: 36px;
  color: rgba(75, 75, 75, 1);
}

.text1 {
  font-size: 24px;
  color: rgba(115, 115, 115, 1);
}

img {
  width: 245px;
  height: 275px;
  rotate: y 180deg;
  margin-left: 20px;
}

/*     :)      */